page-perfl {
    
    /*.option{
        align-items: center;
        margin-top: 10rem;
        padding-left: 2em;
    }*/
    .input-text{
        text-align: center;
        font-size: 2.5rem;
        line-height: 3.5rem;
        font-family: 'Antipasto Pro', sans-serif;
    }
    .tm-perfil{
        img {
            margin:5rem auto;
            width: 160px;
            height: 160px;
        }
        .name-center{
            //margin: 0 auto;
            //align-items: center;
            margin-right: 40rem;
        }

    }
    .edit{
        margin-top: 20rem;
        margin-left: 20%;
        border-radius: 10px;
        width: 60%;
        background-color: darkslateblue
    }
    
}
@import url('http://fonts.cdnfonts.com/css/antipasto-pro');
