page-detalhes {
    .title-center{
        align-items: center;
        text-align: center
    }
    .contador{
        text-align: center;
        align-items: center;
    }
    
    .item-md .item-button {
        padding: 0 0.6em;
        height: 3.3rem;
        font-size: 1.4rem;
        border-radius: 10px;
    }
}
