page-cadastrar {
    .logo-center {
        text-align: center ;
    }
    .margin-input-top {
        margin-top: 20px;
    }
    .margin-btn-top {
        margin-top: 30px;
    }
    .btn {
        background-color: rgb(224, 223, 223);
        border-radius: 15px;
        text-transform: capitalize;
    }

}
