page-login {
    /*.conteudo{
        //background: url('../../assets/imgs/bg2.jpg') no-repeat center /cover transparent;
        //background: url('../../assets/imgs/black.png') no-repeat center /cover transparent opacity($color: #000000d5) !important;
        .conteudo-input {
            ion-item {
                //background-color: transparent;
                border-radius: 30px;
                background-color: rgba(5, 2, 2, 0.336) !important;
            }
            ion-input {
                color: white;
            }
            ::placeholder {
                color: rgb(211, 207, 207);
            }
        }
        .margin-input-top {
            margin-top: 20px;
        }
        .margin-btn-top {
            margin-top: 30px;
        }
        .btn {
            background-color: rgb(235, 152, 0);
            border-radius: 30px;
            text-transform: capitalize;
        }
        .grid-logo {
            ion-col {
                text-align: center;
            }
            
        }
        
        .margin-btnlink-top {
            margin-top: 10px;
        }

        
    //fim
    }*/
    .conteudo{
        background-color: rgb(228, 209, 230) !important;
    }
    
    .logo-center {
        text-align: center ;
        margin-top: 40px;
    }
    .center{
        text-align: center;
    }
    .btn-link {
        //color: white;
        text-transform: none;
        text-align: center;
        align-items: center;
        margin-left: 3.7rem;
    }
    .margin-input-top {
        margin-top: 20px;
    }
    .margin-btn-top {
        margin-top: 30px;
        //background-color: #5a3877d1;
        background-color: violeta;
    }
    .btn {
        background-color: rgb(224, 223, 223);
        border-radius: 15px;
        text-transform: capitalize;
        
    }
}

