<ion-header  >
  <ion-navbar color="clear-violeta">
    <button ion-button menuToggle>
      <ion-icon color="roxo" name="menu"></ion-icon>
    </button>
    <ion-buttons  end>
      <button color="roxo"  ion-button icon-only right (click)="carrinho()">
        <ion-icon  name="md-basket"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid >
    <ion-row align-items-center justify-content-center>
      <ion-col align-self-center col-12 col-lg-10 col-xl-10>

        <h3>Categorias</h3>

        <div>
          <ion-scroll scrollX="true" text-nowrap margin-top>
            <div class="categoria" text-center *ngFor="let categoria of categorias"  (click)='itemSelected(categoria)'>
              <img  src="{{ categoria.img }}" />
              
            </div>
          </ion-scroll>
        </div>
        <!--<div>
          <ion-slides #slides class="slider">
            <ion-slide *ngFor="let categoria of categorias" >
              <ion-card class="card-cat">
                <img  src="{{ categoria.img }}" />
                <h4>{{ categoria.nome }}</h4>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>-->

        <h3>Destaques</h3>
        <ion-slides pager>
          <ion-slide>
            <ion-row >
              
              <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
                <ion-card class="card-produto">
                  
                  <div (click)='abrirDetalhes()'>
                    <img class="img-produto" src="../../assets/imgs/airmax.webp" />
                  </div>
                  <div (click)='abrirDetalhes()'>
                    <p class="nomeP">Tênis</p>
                    <p>Nike Air max</p>
                    <p>R$ 400,00</p>
                  </div>
                </ion-card>  
              </ion-col>
              <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
                <ion-card class="card-produto">
                  
                  <div (click)='abrirDetalhes()'>
                    <img  class="img-produto" src="../../assets/imgs/camisaAnu.webp" />
                  </div>
                  <div (click)='abrirDetalhes()'>
                    <p class="nomeP">Blusa</p>
                    <p>Blusa Nike</p>
                    <p>R$ 37,80</p>
                  </div>
                </ion-card>  
              </ion-col>

            </ion-row>
          </ion-slide>
          <ion-slide>
            <ion-row >
              
              <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
                <ion-card class="card-produto">
                  
                  <div (click)='abrirDetalhes()'>
                    <img class="img-produto" src="../../assets/imgs/calcamoleton.jfif" />
                  </div>
                  <div (click)='abrirDetalhes()'>
                    <p class="nomeP">Caça</p>
                    <p>Calça Moleton</p>
                    <p>R$ 60,00</p>
                  </div>
                </ion-card>  
              </ion-col>
              <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
                <ion-card class="card-produto">
                  
                  <div (click)='abrirDetalhes()'>
                    <img  class="img-produto" src="../../assets/imgs/shortslid.jfif" />
                  </div>
                  <div (click)='abrirDetalhes()'>
                    <p class="nomeP">Short</p>
                    <p>Shrot Masculino</p>
                    <p>R$ 35,80</p>
                  </div>
                </ion-card>  
              </ion-col>

            </ion-row>
          </ion-slide>
        </ion-slides>



        <h3>Mais vendidos</h3>
        <ion-slides pager>
          <ion-slide>
            <ion-row >
              
              <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
                <ion-card class="card-produto">
                  
                  <div (click)='abrirDetalhes()'>
                    <img class="img-produto" src="../../assets/imgs/bone.jfif" />
                  </div>
                  <div (click)='abrirDetalhes()'>
                    <p class="nomeP">Boné</p>
                    <p>Boné Nike H86</p>
                    <p>R$ 140,00</p>
                  </div>
                </ion-card>  
              </ion-col>
              <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
                <ion-card class="card-produto">
                  
                  <div (click)='abrirDetalhes()'>
                    <img  class="img-produto" src="../../assets/imgs/cropprd.jfif" />
                  </div>
                  <div (click)='abrirDetalhes()'>
                    <p class="nomeP">Blusa</p>
                    <p>Cropped Colcci</p>
                    <p>R$ 97,80</p>
                  </div>
                </ion-card>  
              </ion-col>

            </ion-row>
          </ion-slide>
          <ion-slide>
            <ion-row >
              
              <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
                <ion-card class="card-produto">
                  
                  <div (click)='abrirDetalhes()'>
                    <img class="img-produto" src="../../assets/imgs/airmax.webp" />
                  </div>
                  <div (click)='abrirDetalhes()'>
                    <p class="nomeP">Tênis</p>
                    <p>Nike Air max</p>
                    <p>R$ 600,00</p>
                  </div>
                </ion-card>  
              </ion-col>
              <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
                <ion-card class="card-produto">
                  
                  <div (click)='abrirDetalhes()'>
                    <img  class="img-produto" src="../../assets/imgs/saia.jfif" />
                  </div>
                  <div (click)='abrirDetalhes()'>
                    <p class="nomeP">Saia</p>
                    <p>Saia Nike</p>
                    <p>R$ 69,80</p>
                  </div>
                </ion-card>  
              </ion-col>

            </ion-row>
          </ion-slide>
        </ion-slides>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
