<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid >
    <ion-row align-items-center justify-content-center>
      <ion-col align-self-center col-12 col-lg-10 col-xl-10>

        <h3>Categorias</h3>

        <div>
          <ion-scroll scrollX="true" text-nowrap margin-top>
            <div class="categoria" text-center *ngFor="let categoria of categorias"  (click)='itemSelected(categoria)'>
              <img  src="{{ categoria.img }}" />
              
            </div>
          </ion-scroll>
        </div>
        <!--<div>
          <ion-slides #slides class="slider">
            <ion-slide *ngFor="let categoria of categorias" >
              <ion-card class="card-cat">
                <img  src="{{ categoria.img }}" />
                <h4>{{ categoria.nome }}</h4>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>-->

        <h3>Destaques</h3>
        <ion-row >
          
          <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
            <ion-card class="card-produto">
              
              <div (click)='abrirDetalhes()'>
                <img class="img-produto" src="../../assets/imgs/airmax.webp" />
              </div>
              <div (click)='abrirDetalhes()'>
                <p class="nomeP">Tênis</p>
                <p>Nike Air max</p>
                <p>R$ 400,00</p>
              </div>
            </ion-card>  
          </ion-col>
          <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
            <ion-card class="card-produto">
              
              <div (click)='abrirDetalhes()'>
                <img  class="img-produto" src="../../assets/imgs/camisaAnu.webp" />
              </div>
              <div (click)='abrirDetalhes()'>
                <p class="nomeP">Blusa</p>
                <p>Blusa Shein</p>
                <p>R$ 37,80</p>
              </div>
            </ion-card>  
          </ion-col>

        </ion-row>
        <h3>Mais vendidos</h3>
        <ion-row >
          
          <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
            <ion-card class="card-produto">
              
              <div (click)='abrirDetalhes()'>
                <img class="img-produto" src="../../assets/imgs/airmax.webp" />
              </div>
              <div (click)='abrirDetalhes()'>
                <p class="nomeP">Tênis</p>
                <p>Nike Air max</p>
                <p>R$ 400,00</p>
              </div>
            </ion-card>  
          </ion-col>
          <ion-col col-6 col-lg-4 col-xl-3 class="ion-text-left padding-left0" >
            <ion-card class="card-produto">
              
              <div (click)='abrirDetalhes()'>
                <img  class="img-produto" src="../../assets/imgs/camisaAnu.webp" />
              </div>
              <div (click)='abrirDetalhes()'>
                <p class="nomeP">Blusa</p>
                <p>Blusa Shein</p>
                <p>R$ 37,80</p>
              </div>
            </ion-card>  
          </ion-col>

        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
